.post-box {
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;

        .postitems {
            border: 1.5px solid white;
            border-radius: 10px;
            margin: 10px;
            background-color: white;
            width: 500px;

            .head {
                display: flex;
                justify-content: space-between;
            }

            .likecomment {
                display: flex;
                justify-content: space-evenly;
            }

            .likecomment > * {
                background: white;
            }
            
            .dropbutton {
                background: white;
                border: none;
                cursor: pointer;
                padding: 10px;
            }

            .dropbutton:hover, .dropbutton:focus {
                background-color: #f4fcff;
            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                padding: 12px 16px;
                z-index: 1;
            }

            .show {
                display: block;
            }
        }

        .postitems > * {
            background-color: white;
        }

        .postitems > * > * {
            background-color: white;
        }
    }
}