.friendpage {
    .page {
        display: flex;
        background-color: white;
        margin-top: 60px;
        
        .sidebar {
            background-color: white;
            box-shadow: 5px 0 5px -2px #d9dbdd;

            ul { 
                display: flex;
                flex-direction: column;

                li {
                    background-color: white;
                    list-style: none;
                }
            }
        }
        
        .sidebar > * {
            background-color: white;
        }

        .content {
            display: flex;
            flex-direction: column;
            padding: 10px;
            width: 100%;
            height: 100%;
        }

        .content > * {
            .friends {
                display: flex;
                flex-wrap: wrap;

                li {
                    list-style: none;
                    background-color: white;
                    box-shadow: 0 0 10px #d9dbdd, 0 0 10px #d9dbdd, 0 0 10px #d9dbdd;
                    margin: 5px;
                    border-radius: 20px;
                    
                    * {
                        background: white;
                    }

                    .profilepic {
                        width: 200px;
                        margin: 0;
                        height: 200px;
                        background: lightgrey;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;

                        .userprofile-placeholder {
                            border-radius: 15px;
                            align-self: center;
                            background-color: transparent;
                            display: flex;
                            justify-content: center;

                            .fa-user-large {
                                margin-top: 140px;
                                font-size: 100px;
                                background-color: transparent;
                                color: white;
                            }
                        }
                    }

                    .body {
                        border-radius: 10px;

                        .name {
                            width: 100px;
                            margin: 10px;
                            font-weight: bold;
                        }
    
                        .friendaction {
                            margin-left: 10px;
                            align-self: center;
                            border-radius: 10px;
    
                            * {
                                color: white;
                                padding: 5px;
                                text-align: center;
                                width: 150px;
                                margin: 10px;
                            }
    
                            .Delete {
                                border-radius: 10px;
                                background: #1877f2;
                            }
        
                            .Delete:hover {
                                background: #066cf3;
                            }
        
                            .Add {
                                border-radius: 10px;
                                background: #47ca3b;
                            }
        
                            .Add:hover {
                                background: #07c22f;
                            }
                        }
                    }
                }
            }
        }
    }
}