.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(230, 230, 230, 0.7);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    .close-x {
        position: absolute;
        background-color: white;
        cursor: pointer;
        top: 10px;
        right: 17px;
        font-size: 25px;
        font-weight: 900;
    }

    .signup-modal-child {
        position: relative;
        bottom: 300px;
        right: 200px;
    }
}

.createpost-modal-child, .editpost-modal-child, .editcomment-modal-child, .editprofile-modal-child, .editcoverphoto-modal-child {
    position: relative;
    bottom: 200px;
    left: 50px;
    border-radius: 10px;
    background: white;
    height: 150px;
    width: 300px;

    .form-header {
        text-align: center;
    }

    .close-x {
        position: absolute;
        background-color: white;
        cursor: pointer;
        top: 10px;
        right: 17px;
        font-size: 13px;
        font-weight: 900;
    }

    h3 {
        margin-bottom: 5px;
    }

    * {
        padding: 5px;
        background: transparent;
        border-radius: 10px;

        input {
            background-color: #dfdfdf;
            border: none;
            width: 270px;
        }
    }
}